.hero {
    align-items: center;
    background-color: var(--theme-color);
    color: var(--white);
    display: flex;
    height: 650px;
    justify-content: center;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 5rem;
}

.hero-content p {
    font-size: 1.5rem;
}