#Header {
    background-color: var(--theme-color);
    color: var(--white);
    padding: 20px;
}

.logo {
    border: 5px solid var(--white);
    border-radius: 100%;
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    width: 60px;
}

.hero {
    align-items: center;
    display: flex;
    height: 650px;
    justify-content: center;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 5rem;
}

.hero-content p {
    font-size: 1.5rem;
}