#Header {
    background-color: var(--theme-color);
    color: var(--white);
    padding: 20px;
}

.logo {
    border: 5px solid var(--white);
    border-radius: 100%;
    padding: 0 10px;
    width: 60px;
}
